# Proof modes are `mock`, `cpu`, `cuda` and `network`.
# `mock` is for generating mock proofs locally.
# `cpu` is for generating proofs locally using the CPU.
# `cuda` is for generating proofs locally using the GPU.
# `network` is for generating proofs using the Succinct Prover Network.
SP1_PROVER=mock

# To use the Succinct Prover Network, set the private key of the account you want to use for requesting proofs.
# Set up a new account here: https://docs.succinct.xyz/docs/network/developers/key-setup.
NETWORK_PRIVATE_KEY=

# Private key which the operator can use to sign evm transactions using the reth service.
PRIVATE_KEY="0x82bfcfadbf1712f6550d8d2c00a39f05b33ec78939d0167be2a737d691f33a6a"

# Default ISM identifier deployed by the docker compose network.
CELESTIA_ISM_ID="0x726f757465725f69736d000000000000000000000000002a0000000000000001"

# The Hyperlane Mailbox Address on EV
MAILBOX_ADDRESS="0xb1c938f5ba4b3593377f399e12175e8db0c787ff"

# The Hyperlane Mailbox Address on Celestia
CELESTIA_MAILBOX_ADDRESS="0x68797065726c616e650000000000000000000000000000000000000000000000"

# The Hyperlane Merkle Tree Address on EV
MERKLE_TREE_ADDRESS="0xfcb1d485ef46344029d9e8a7925925e146b3430e"

# Default Namespace used for Celestia data submission.
# NOTE: The DA_HEADER_NAMESPACE and DA_DATA_NAMESPACE env vars in docker-compose.yml are namespace encoded by ev-node.
# This is the non-padded namespace value for ev-node data blobs.
CELESTIA_NAMESPACE="a8045f161bf468bf4d44"

# To submit messages to Celestia we must specify a funded private key.
CELESTIA_PRIVATE_KEY="6e30efb1d3ebd30d1ba08c8d5fc9b190e08394009dc1dd787a69e60c33288a8c"

RETH_RPC_URL="http://localhost:8545"
RETH_WS_URL="ws://127.0.0.1:8546"
CELESTIA_RPC_URL="http://localhost:26658"
SEQUENCER_RPC_URL="http://localhost:7331"